.container{
    width:60vw;
    height: 70vh;
    display: grid;
    background-color: #d3d5dc;
    align-items: center;
    border-radius: 20pt;
    margin-top: 19vh;
    margin-bottom: 19vh;
    margin-right: 15vw;
    margin-left: 20vw;
    color: white;
    text-align: center;
    -webkit-text-fill-color: black;


}
.button {

    background-color: #4CAF50; /* Green */
    width: 60px;
    height:50px;
    border-radius: 10px;
    -webkit-text-fill-color: aliceblue;
    margin-right: 5px;
    
  }

  .button1 {

    background-color: #4CAF50; /* Green */
    width: 60px;
    height:50px;
    border-radius: 10px;
    -webkit-text-fill-color: aliceblue;
    
  }