* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 90%;
    padding: 12px ;
    margin-left:5%;
    margin-bottom: 5%;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
 .submit {
    background-color: #04AA6D;
    color: white;
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-left: 40px;
    margin-bottom: 10%;
  }
  .submit2{
    background-color: #04AA6D;
    color: white;
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #737e74;
    /* padding: 8px; */
    /* height: 50vw; */
    width: 50vw;
    margin: auto;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: center;
    color: #d7e4d7;
    background-color:#04AA6D;
  }
  
  .col-26 {
    float: left;
    width: 25%;
    margin-top: 6px;
    margin-bottom: 100px;
    margin-left: 1px;
    text-align: center;
    color: #d7e4d7;
    background-color:#04AA6D;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .admin-chat{
    margin-left: 3%;
    width:fit-content;
    max-width: 50%;
    padding: 10px;
    height: fit-content;
    background-color: #04AA6D;
    border-radius: 10px;
    color:#d7e4d7;
    size:80px;
   


  }
  .chat-box{
    width:50vw;
  }
  .admin-chat *{
    margin-left: 3%;
  }
  .user-chat{
  margin-left: auto;
  margin-right: 5%;
  width:fit-content;
  word-wrap: break-word;
    padding: 10px;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    color:#000;
    size:80px;
    max-width: 50%;
  }
  /* .user-chat::before {
    content: '';
    position: absolute;
    visibility: visible;
    top: -1px;
    right: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #ccc;
  }
  
  .user-chat::after {
    content: '';
    position: absolute;
    visibility: visible;
    top: 0px;
    right: -8px;
    border: 10px solid transparent;
    border-top: 10px solid aqua;
    clear: both;
  } */
  
h1{
text-align: center;
color: #eeecec;
padding: 5%;
  }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }